[Unit]
Description=Toby Bot
After=multi-user.target

[Service]
Type=simple
Restart=always
Environment="TELEGRAM_TOKEN=token"
WorkingDirectory=/root/toby
ExecStart=/usr/bin/python3 /root/toby/toby.py

[Install]
WantedBy=multi-user.target
